[type=checkbox] + label:before {
  content: '';
  position: absolute;
  top: 2px;
  left: 0;
  width: 17px;
  height: 17px;
  z-index: 0;
  border: 1.5px solid #e6e6e6;
  transition: .2s; }
[type=radio] + label:before {
  content: '';
  position: absolute;
  top: 2px;
  left: 0;
  width: 17px;
  height: 17px;
  z-index: 0;
  border-radius: 100%;
  border: 1.5px solid #e6e6e6;
  transition: .2s; }

[type=checkbox]:checked + label:before {
  top: 2px;
  left: 0;
  width: 10px;
  height: 17px;
  border-width: 2px;
  border-color: transparent #18292F #18292F transparent;
  -webkit-transform: rotate(40deg);
  transform-origin: 100% 100%; }
[type=radio]:checked + label:before {
  width: 17px;
  height: 17px;
  border-width: 2px;
  background-color: #18292F;
  border: 1.5px solid #e6e6e6
  -webkit-transform: rotate(40deg);
  transform-origin: 100% 100%; }
